In [30]:
!pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.6/dist-packages (1.0.2)

In [31]:
import subprocess

In [32]:
import pymysql


class DB:
    def __init__(self):
        try:
          self.conn = pymysql.connect(
              user='admin',#@param {type:"string"},
              password='adminadmin',#@param {type:"string"},
              host='database-1.cjcbghqlwnpl.us-east-1.rds.amazonaws.com',#@param {type:"string"},
              database = 'lahman'
          )

        except Exception as e:
            print("I am unable to connect to the database - bye " + str(e))
            exit()
        print('Got a DB connection!- hurray')
        self.cur = self.conn.cursor()

    def cursor(self):
        return self.cur

    def getNewCursor(self):
        return self.conn.cursor()

    def connection(self):
        return self.conn

    def query(self, q):
        self.cur.execute(q)
        try:
          return self.cur.fetchall()
        except Exception as e:
          print('no result to return')
          return

Implement the following queries

1. The number of all stars in allstarfull.
2. The most home runs in a season by a single player (using the batting table).
3. The playerid of the player with the most home runs in a season.
4. The number of leagues in the batting table.
5. Barry Bond's average batting average (playerid = 'bondsba01') where batting average is hits / at-bats. Note you will nead to cast hits to get a decimal: cast(h as real)
6. The teamid with the fewest hits in the year 2000 (ie., yearid = '2000'). Return both the teamid, and the number of hits. Note you can use ORDER BY column and LIMIT 1.
7. The teamid in the year 2000 (i.e., yearid = '2000')  with the highest average batting average. Return the teamid and the average. To prevent divsion by 0, limit at-bats > 0.
8. The number of all stars the giants (teamid = 'SFN') had in 2000.
9. The yearid which the giants had the most all stars.
10. The average salary in year 2000.
11. The number of positions (e.g., catchers, pitchers) that have average salaries greather than 2000000 in yearid 2000. You will need to join fielding with salaries. Also consider using a HAVING clause.
12. The number of errors Barry Bonds had in 2000. 
13. The average salary of all stars in 2000.
14. The average salary of non-all stars in 2000.

You can test each query result using the  corresponding tests in the notebook.

In [33]:
# required for some rounding
import math

In [34]:
#As an example q1 and q3  have been already filled for you.
#Note the use of group by https://www.w3schools.com/sql/sql_groupby.asp to categorize the data by player id and year.
q1 = 'select count(*) from allstarfull;'
q3 = 'select playerid from batting INNER Join (select MAX(HR) as m from batting) as data ON batting.hr=data.m'

In [35]:
#Fill queries here

q2 = ''

q4 = ''

q5 = ''

q6 = ''


q7 = ''


q8 = ''


q9 = ''


q10 = ''


q11 = ''


q12 = ''


q13 = ''


q14 = ''

In [36]:
#the main function will execute all queries
def part1():
  db = DB()

  print()

  for q in [q1, q2, q3, q4, q5, q6, q7, q8, q9, q10, q11, q12, q13, q14]:
    print(q)
    res = db.query(q)
    
    for line in db.query(q):
      print(line[0])
    print()
    
  test_q1()
  print('Q1 - succesful')
  test_q2()
  print('Q2 - succesful')
  test_q3()
  print('Q3 - succesful')
  test_q4()
  print('Q4 - succesful')
  test_q5()
  print('Q5 - succesful')
  test_q6()
  print('Q6 - succesful')
  test_q7()
  print('Q7 - succesful')
  test_q8()
  print('Q8 - succesful')
  test_q9()
  print('Q9 - succesful')
  test_q10()
  print('Q10 - succesful')
  test_q11()
  print('Q11 - succesful')
  test_q12()
  print('Q12 - succesful')
  test_q13()
  print('Q13 - succesful')
  test_q14()
  print('Q14 - succesful')

  print('All asserts are successful!')

And here are all the tests. You can run any of these tests directly and check the results against your query.

In [37]:
def test_q1():
    db = DB()
    assert db.query(q1)[0][0] == 4834

In [38]:
def test_q2():
    db = DB()
    assert db.query(q2)[0][0] == 73

In [39]:
def test_q3():
    db = DB()
    assert db.query(q3)[0][0] == 'bondsba01'

In [40]:
def test_q4():
    db = DB()
    assert db.query(q4)[0][0] == 7

In [41]:
def test_q5():
    db = DB()
    assert math.isclose(db.query(q5)[0][0], 0.298305762454545)

In [42]:
def test_q6():
    db = DB()
    assert db.query(q6)[0][0] == 'MIL'
    assert db.query(q6)[0][1] == 1366

In [43]:
def test_q7():
    db = DB()
    assert db.query(q7)[0][0] == 'SEA'
    print(db.query(q7)[0][1])
    assert math.isclose(db.query(q7)[0][1], 0.28079655)

In [44]:
def test_q8():
    db = DB()
    assert db.query(q8)[0][0] == 2

In [45]:
def test_q9():
    db = DB()
    assert db.query(q9)[0][0] == 1966 # or 1961 , 1962

In [46]:
def test_q10():
    db = DB()
    assert int(db.query(q10)[0][0]) == 1992984

In [47]:
def test_q11():
    db = DB()
    assert db.query(q11)[0][0] == 3

In [48]:
def test_q12():
    db = DB()
    assert db.query(q12)[0][0] == 3 # or 6

In [49]:
def test_q13():
    db = DB()
    assert int(db.query(q13)[0][0]) == 5388841

In [50]:
def test_q14():
    db = DB()
    assert int(db.query(q14)[0][0]) == 1692309

In [51]:
 def simple_targeted_sum(l, t):
    for i in l:
        for j in l:
            if i + j == t:
                return True

    return False

In [52]:
 def targeted_sum(l, t):
    # implement
    return True

In [53]:
 def test_target1():
    assert targeted_sum([1, 4, 3, 9], 5) is True

In [54]:
 def test_target2():
    assert targeted_sum([1, 4, 3, 9], 51) is False

In [55]:
#your code should be more efficient. The following checks for that
def test_target_time():
    l = range(0, 200)

    t1 = time()
    r1 = targeted_sum(l, 250)
    t2 = time() - t1

    t3 = time()
    r2 = simple_targeted_sum(l, 250)
    t4 = time() - t3

    assert r1 == r2
    assert t2 < t4

In [56]:
 #test_target 
 def part2():
    print(targeted_sum([1,4,7,11], 5))
    print(simple_targeted_sum([1,4,7,11], 5))
    print(targeted_sum([1,4,7,11], 33))
    print(simple_targeted_sum([1,4,7,11], 33))
    test_target1()
    test_target2()
    test_target_time()

In [57]:


'''
Use cat, grep, wc, cut, sort, head and tail to implement the following tasks.
You can use the man page for each command for detailed instructions.

1. A command to count the lines in data/bonds.csv

2. A command to count the number of lines between 2000-2009.
The second column is the year.

3. A command to count the number of lines not between 2000-2009.

4. A command to extract the largest number of games Bonds played in a year.
Games played is column six.

5. A command to extract the distinct teams Bonds played for.
Team is column four.

6. A command to extract the year from the first row in file.
'''

# correct c1..c6 with the right command
c1 = 'cat data/bonds.csv | wc -l'
c2 = "cat data/bonds.csv | wc -l"
c3 = "cat data/bonds.csv | wc -l"
c4 = "cat data/data/bonds.csv | wc -l"
c5 = "cat data/bonds.csv | wc -l"
c6 = "cat data/bonds.csv | wc -l"

def test_unix_queries():
    for c in [c1, c2, c3, c4, c5, c6]:
        print(c)
        print(subprocess.check_output(c, shell=True))


def test_c1():
    out = subprocess.check_output(c1, shell=True)
    assert (out == b'22\n' or out == '22\n')

def test_c2():
    out = subprocess.check_output(c2, shell=True)
    assert (out == b'8\n' or out == '8\n')

def test_c3():
    out = subprocess.check_output(c3, shell=True)
    assert (out == b'14\n' or out == '14\n')

def test_c4():
    out = subprocess.check_output(c4, shell=True)
    assert (out == b'159\n' or out == '159\n')

def test_c5():
    out = subprocess.check_output(c5, shell=True)
    assert (out == b'PIT\nSFN\n' or out == 'PIT\nSFN\n')

def test_c6():
    out = subprocess.check_output(c6, shell=True)
    assert (out == b'1986\n' or out == '1986\n')
    
    
#run main and check tests    
def part3():
    test_unix_queries()
    print('done')

    try:
        test_c1()
        print("test_c1 passed")
    except:
        print("test_c1 failed")
        
    try:
        test_c2()
        print("test_c2 passed")
    except:
        print("test_c2 failed")
        
    try:
        test_c3()
        print("test_c3 passed")
    except:
        print("test_c3 failed")
        
        
    try:
        test_c4()
        print("test_c4 passed")
    except:
        print("test_c4 failed")
        
        
    try:
        test_c5()
        print("test_c5 passed")
    except:
        print("test_c5 failed")
        
    try:
        test_c6()
        print("test_c6 passed")
    except:
        print("test_c6 failed")

In [58]:



#To run the main function call main from the notebook here
if __name__ == '__main__':
    part1()
    part2()
    part3()

cat data/bonds.csv | wc -l
b'0\n'
cat data/bonds.csv | wc -l
b'0\n'
cat data/bonds.csv | wc -l
b'0\n'
cat data/data/bonds.csv | wc -l
b'0\n'
cat data/bonds.csv | wc -l
b'0\n'
cat data/bonds.csv | wc -l
b'0\n'
done
test_c1 failed
test_c2 failed
test_c3 failed
test_c4 failed
test_c5 failed
test_c6 failed